<!-- This finds the current page so it can be highlighted. -->

{% for entry in site.data.navigation %}
  {% if entry.url == page.url %}
    {% assign current_page = entry.url %}
    {% break %}
  {% elsif page.url contains entry.url %}
    {% assign current_page = entry.url %}
    {% for subentry in entry.sublinks %}
      {% if subentry.url == page.url %}
        {% assign current_sub = subentry.url %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

<!-- Then we build the nav bar. -->
<nav>
  <ul>
    {% for entry in site.data.navigation %}
      {% if entry.url == current_page %}
        {% assign current = ' class="current"' %}
      {% else %}
        {% assign current = null %}
      {% endif %}
      {% assign sublinks = entry.sublinks %}
      {% if sublinks %}
        <li{{ current }}>
          <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
          <ul>
          {% for sublink in sublinks %}
            {% if sublink.url == current_sub %}
              {% assign currentsub = ' class="current"' %}
            {% else %}
              {% assign currentsub = null %}
            {% endif %}

            <li{{ currentsub }}><a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
          {% endfor %}
          </ul>
        </li>
      {% else %}
        <li{{ current }}><a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
